.modal-readMore {
  padding-left: 28px;
  padding-right: 28px;

  @include modalPreventOverflow(
    $actualModalHeightMobile: 487px,
    $actualModalHeightTablet: 430px
  );

  @include mq(tablet) {
    padding-left: 60px;
    padding-right: 60px;
  }
}

.modal-readMore__title {
  margin-bottom: 20px;
  @include mq(desktop) {
    margin-bottom: 32px;
  }
}

.modal-readMore__video {
  display: block;
  width: 100%;
  height: 199px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  border-color: transparent;

  @include mq(tablet) {
    height: 205px;
    margin-bottom: 32px;
  }
}

.modal-readMore__text {
  font-size: 14px;
  line-height: 1.43;
  color: $primaryColor;
  @include mq(desktop) {
    font-size: 14px;
    line-height: 1.38;
  }
}
