$primaryColor: #131313;
$btn-hoverColor: #0a8817;
$btn-disabledColor: #ababab;
$backgroundColor: #84a178;
$extrabackgroundColor: #fcfcfc;
$accentColor: #f8d24e;
$textColor: #fcfcfc;
$extraColor: #d6936d;
$mainTransitionDuration: 250ms;
$mainTransitionTimingFunction: cubic-bezier(0.4, 0, 0.2, 1);
$mainFontFamily: 'Montserrat', sans-serif;
$secondaryFontFamily: 'Seymour One', sans-serif;
