<!-- Modal ingridients -->

<div class="modal modal--ingr" data-modal="6">
  <button
    class="modal__btn-close js-modal-close"
    type="button"
    data-modal-close
  >
    <svg class="modal__btn-close-icon">
      <use href="./images/icon.svg#close-modal"></use>
    </svg>
  </button>
  <div class="ingridient__wrapp">
    <div class="ingridient__slider2">
      <div class="modal__container-ingr">
      <h2 class="modal__title modal__title--ingr">Iced latte</h2>
      <div class="ingredients">
        <picture>
          <source
            class="ingredients__img"
            srcset="
              ./images/modal2-ingr1.jpg    1x,
              ./images/modal2-ingr1-2x.jpg 2x
            "
            media="(min-width:1200px)"
          />

          <img
            class="ingredients__img"
            src="./images/modal2-ingr1.jpg"
            alt="ice-latte"
          />
        </picture>
      </div>

      <ul class="callories">
        <li class="callories__item">
          <div class="round"><p class="round__text">280</p></div>
          <p>kcal</p>
        </li>
        <li class="callories__item">
          <div class="round"><p class="round__text">5g</p></div>
          <p>Protein</p>
        </li>
        <li class="callories__item">
          <div class="round"><p class="round__text">5,3g</p></div>
          <p>Fats</p>
        </li>
        <li class="callories__item">
          <div class="round"><p class="round__text">30,1g</p></div>
          <p>Carbs</p>
        </li>
      </ul>
      <h3 class="table__name">Ingredients</h3>
      <ul class="table">
        <li class="table__item">
          <p class="table__text">Milk</p>
          <p class="table__text">70ml</p>
        </li>
        <li class="table__item">
          <p class="table__text">Espresso</p>
          <p class="table__text">50ml</p>
        </li>
        <li class="table__item">
          <p class="table__text">Cream</p>
          <p class="table__text">30ml</p>
        </li>
        <li class="table__item">
          <p class="table__text">Ice</p>
          <p class="table__text">50g</p>
        </li>
        <li class="table__item">
          <p class="table__text">Nuts</p>
          <p class="table__text">40g</p>
        </li>
        <li class="table__item">
          <p class="table__text">Syrup</p>
          <p class="table__text">30ml</p>
        </li>
      </ul>
    </div>
    <div class="modal__container-ingr">
      <h2 class="modal__title modal__title--ingr">Iced raf</h2>
      <div class="ingredients">
        <picture>
          <source
            class="ingredients__img"
            srcset="
              ./images/modal2-ingr2.jpg    1x,
              ./images/modal2-ingr2-2x.jpg 2x
            "
            media="(min-width:1200px)"
          />

          <img
            class="ingredients__img"
            src="./images/modal2-ingr2.jpg"
            alt="ice-tonic"
          />
        </picture>
      </div>

      <ul class="callories">
        <li class="callories__item">
          <div class="round"><p class="round__text">290</p></div>
          <p>kcal</p>
        </li>
        <li class="callories__item">
          <div class="round"><p class="round__text">7g</p></div>
          <p>Protein</p>
        </li>
        <li class="callories__item">
          <div class="round"><p class="round__text">5,5g</p></div>
          <p>Fats</p>
        </li>
        <li class="callories__item">
          <div class="round"><p class="round__text">33,1g</p></div>
          <p>Carbs</p>
        </li>
      </ul>
      <h3 class="table__name">Ingredients</h3>
      <ul class="table">
        <li class="table__item">
          <p class="table__text">Milk</p>
          <p class="table__text">50ml</p>
        </li>
        <li class="table__item">
          <p class="table__text">Espresso</p>
          <p class="table__text">50ml</p>
        </li>
        <li class="table__item">
          <p class="table__text">Cream</p>
          <p class="table__text">30ml</p>
        </li>
        <li class="table__item">
          <p class="table__text">Ice</p>
          <p class="table__text">50g</p>
        </li>
        <li class="table__item">
          <p class="table__text">Condensed milk</p>
          <p class="table__text">40ml</p>
        </li>
        <li class="table__item">
          <p class="table__text">Vanilla sugar</p>
          <p class="table__text">20ml</p>
        </li>
      </ul>
    </div>
    <div class="modal__container-ingr">
      <h2 class="modal__title modal__title--ingr">Ice tonic</h2>
      <div class="ingredients">
        <picture>
          <source
            class="ingredients__img"
            srcset="
              ./images/modal2-ingr3.jpg    1x,
              ./images/modal2-ingr3-2x.jpg 2x
            "
            media="(min-width:1200px)"
          />

          <img
            class="ingredients__img"
            src="./images/modal2-ingr3.jpg"
            alt="ice-raf"
          />
        </picture>
      </div>

      <ul class="callories">
        <li class="callories__item">
          <div class="round"><p class="round__text">240</p></div>
          <p>kcal</p>
        </li>
        <li class="callories__item">
          <div class="round"><p class="round__text">3g</p></div>
          <p>Protein</p>
        </li>
        <li class="callories__item">
          <div class="round"><p class="round__text">3,3g</p></div>
          <p>Fats</p>
        </li>
        <li class="callories__item">
          <div class="round"><p class="round__text">20,1g</p></div>
          <p>Carbs</p>
        </li>
      </ul>
      <h3 class="table__name">Ingredients</h3>
      <ul class="table">
        <li class="table__item">
          <p class="table__text">Tonic</p>
          <p class="table__text">70ml</p>
        </li>
        <li class="table__item">
          <p class="table__text">Espresso</p>
          <p class="table__text">50ml</p>
        </li>
        <li class="table__item">
          <p class="table__text">Lemon</p>
          <p class="table__text">10g</p>
        </li>
        <li class="table__item">
          <p class="table__text">Ice</p>
          <p class="table__text">50g</p>
        </li>
        <li class="table__item">
          <p class="table__text">Mint</p>
          <p class="table__text">10g</p>
        </li>
        <li class="table__item">
          <p class="table__text">Syrup (if desired)</p>
          <p class="table__text">15ml</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="dots2"></div>
</div>

  <!-- Form -->
  <form class="form form-ingr">
    <input
      class="form__input"
      type="text"
      name="username"
      placeholder="Name"
      required
    />
    <input
      class="form__input"
      type="tel"
      name="phone"
      placeholder="Phone"
      required
      pattern="^\(?([0-9]{3})\)?([ .-]?)([0-9]{3})\2([0-9]{4})$"
    />
    <!-- The pattern see in https://stackoverflow.com/questions/58248441/regex-template-for-ukrainian-phone-numbers -->

    <textarea
      class="form__input form__input--multiline"
      name="comment"
      placeholder="Comment"
    ></textarea>
    <button class="form__button button" type="submit">Submit</button>
  </form>
</div>
