<!-- Modal ingridients -->

<div class="modal modal--ingr" data-modal="6">
  <button
    class="modal__btn-close js-modal-close"
    type="button"
    data-modal-close
  >
    <svg class="modal__btn-close-icon" width="16" height="16">
      <use href="./images/icon.svg#close-modal"></use>
    </svg>
  </button>

  <h2 class="modal__title modal__title--ingr">Iced latte</h2>
  <div class="ingredients">
    <picture>
      <source
        class="ingredients__img"
        srcset="
        ./images/modal2-ingr1.jpg 1x, 
        ./images/modal2-ingr1-2x.jpg 2x"
        media="(min-width:768px)"
      />

      <source
        class="ingredients__img"
        srcset="
          ./images/modal2-ingr1-mob.jpg    1x,
          ./images/modal2-ingr1-mob-2x.jpg 2x
        "
        media="(max-width:767px)"
      />
      <img
        class="ingredients__img"
        src="./images/modal2-ingr1.jpg"
        alt="ice-coffee"
      />
    </picture>
  </div>

  <ul class="callories">
    <li class="callories__item">
      <div class="round"><p class="round__text">280</p></div>
      <p>kcal</p>
    </li>
    <li class="callories__item">
      <div class="round"><p class="round__text">5g</p></div>
      <p>Protein</p>
    </li>
    <li class="callories__item">
      <div class="round"><p class="round__text">5,3g</p></div>
      <p>Fats</p>
    </li>
    <li class="callories__item">
      <div class="round"><p class="round__text">30,1g</p></div>
      <p>Carbs</p>
    </li>
  </ul>
  <h3 class="table__name">Ingredients</h3>
  <ul class="table">
    <li class="table__item">
      <p class="table__text">Milk</p>
      <p class="table__text">70ml</p>
    </li>
    <li class="table__item">
      <p class="table__text">Espresso</p>
      <p class="table__text">50ml</p>
    </li>
    <li class="table__item">
      <p class="table__text">Cream</p>
      <p class="table__text">30ml</p>
    </li>
    <li class="table__item">
      <p class="table__text">Ice</p>
      <p class="table__text">50g</p>
    </li>
    <li class="table__item">
      <p class="table__text">Nuts</p>
      <p class="table__text">40g</p>
    </li>
    <li class="table__item">
      <p class="table__text">Syrup</p>
      <p class="table__text">30ml</p>
    </li>
  </ul>

  <!-- Form -->
  <form class="form">
    <input
      class="form__input"
      type="text"
      name="username"
      placeholder="Name"
      required
      autofocus
    />
    <input
      class="form__input"
      type="tel"
      name="phone"
      placeholder="Phone"
      required
      pattern="^\(?([0-9]{3})\)?([ .-]?)([0-9]{3})\2([0-9]{4})$"
    />
    <!-- The pattern see in https://stackoverflow.com/questions/58248441/regex-template-for-ukrainian-phone-numbers -->

    <textarea
      class="form__input form__input--multiline"
      name="comment"
      id="comment"
      placeholder="Comment"
    ></textarea>
    <button class="form__button button" type="submit">Submit</button>
  </form>

  <!-- TODO: form -->
  <form></form>
</div>
