<!-- Modal ingridients -->

<div class="modal modal--ingr" data-modal="1">
  <button
    class="modal__btn-close js-modal-close"
    type="button"
    data-modal-close
  >
    <svg class="modal__btn-close-icon">
      <use href="./images/icon.svg#close-modal"></use>
    </svg>
  </button>

  <div class="ingridient__wrapp">
    <div class="ingridient__slider1">
      <div class="modal__container-ingr">
        <h2 class="modal__title modal__title--ingr">Chocolate icecream</h2>
        <div class="ingredients">
          <picture>
            <source
              class="ingredients__img"
              srcset="
                ./images/modal-ingr1.jpg    1x,
                ./images/modal-ingr1-2x.jpg 2x
              "
              media="(min-width:1200px)"
            />
            <img
              class="ingredients__img"
              src="./images/modal-ingr1.jpg"
              alt="ice cream chocolate"
            />
          </picture>
        </div>
        <ul class="callories">
          <li class="callories__item">
            <div class="round"><p class="round__text">320</p></div>
            <p>kcal</p>
          </li>
          <li class="callories__item">
            <div class="round"><p class="round__text">4g</p></div>
            <p>Protein</p>
          </li>
          <li class="callories__item">
            <div class="round"><p class="round__text">8,2g</p></div>
            <p>Fats</p>
          </li>
          <li class="callories__item">
            <div class="round"><p class="round__text">40,4g</p></div>
            <p>Carbs</p>
          </li>
        </ul>
        <h3 class="table__name">Ingredients</h3>
        <ul class="table">
          <li class="table__item">
            <p class="table__text">Milk</p>
            <p class="table__text">100ml</p>
          </li>
          <li class="table__item">
            <p class="table__text">Belgian chocolate</p>
            <p class="table__text">20g</p>
          </li>
          <li class="table__item">
            <p class="table__text">Cream</p>
            <p class="table__text">150 ml</p>
          </li>
          <li class="table__item">
            <p class="table__text">Cocoa powder</p>
            <p class="table__text">30g</p>
          </li>
          <li class="table__item">
            <p class="table__text">Sugar</p>
            <p class="table__text">40g</p>
          </li>
          <li class="table__item">
            <p class="table__text">Vanilla sugar</p>
            <p class="table__text">10g</p>
          </li>
        </ul>
      </div>
      <div class="modal__container-ingr">
        <h2 class="modal__title modal__title--ingr">Double icecream</h2>
        <div class="ingredients">
          <picture>
            <source
              class="ingredients__img"
              srcset="
                ./images/modal-ingr2.jpg    1x,
                ./images/modal-ingr2-2x.jpg 2x
              "
              media="(min-width:1200px)"
            />
            <img
              class="ingredients__img"
              src="./images/modal-ingr2.jpg"
              alt="ice cream double colors"
            />
          </picture>
        </div>
        <ul class="callories">
          <li class="callories__item">
            <div class="round"><p class="round__text">330</p></div>
            <p>kcal</p>
          </li>
          <li class="callories__item">
            <div class="round"><p class="round__text">6g</p></div>
            <p>Protein</p>
          </li>
          <li class="callories__item">
            <div class="round"><p class="round__text">8,7g</p></div>
            <p>Fats</p>
          </li>
          <li class="callories__item">
            <div class="round"><p class="round__text">39,4g</p></div>
            <p>Carbs</p>
          </li>
        </ul>
        <h3 class="table__name">Ingredients</h3>
        <ul class="table">
          <li class="table__item">
            <p class="table__text">Milk</p>
            <p class="table__text">150ml</p>
          </li>
          <li class="table__item">
            <p class="table__text">Belgian chocolate</p>
            <p class="table__text">10g</p>
          </li>
          <li class="table__item">
            <p class="table__text">Cream</p>
            <p class="table__text">100ml</p>
          </li>
          <li class="table__item">
            <p class="table__text">Cocoa powder</p>
            <p class="table__text">20g</p>
          </li>
          <li class="table__item">
            <p class="table__text">Sugar</p>
            <p class="table__text">30g</p>
          </li>
          <li class="table__item">
            <p class="table__text">Vanilla sugar</p>
            <p class="table__text">20g</p>
          </li>
        </ul>
      </div>
      <div class="modal__container-ingr">
        <h2 class="modal__title modal__title--ingr">Caramel icecream</h2>
        <div class="ingredients">
          <picture>
            <source
              class="ingredients__img"
              srcset="
                ./images/modal-ingr3.jpg    1x,
                ./images/modal-ingr3-2x.jpg 2x
              "
              media="(min-width:1200px)"
            />
            <img
              class="ingredients__img"
              src="./images/modal-ingr3.jpg"
              alt="ice cream caramel"
            />
          </picture>
        </div>
        <ul class="callories">
          <li class="callories__item">
            <div class="round"><p class="round__text">330</p></div>
            <p>kcal</p>
          </li>
          <li class="callories__item">
            <div class="round"><p class="round__text">5g</p></div>
            <p>Protein</p>
          </li>
          <li class="callories__item">
            <div class="round"><p class="round__text">9,2g</p></div>
            <p>Fats</p>
          </li>
          <li class="callories__item">
            <div class="round"><p class="round__text">45,4g</p></div>
            <p>Carbs</p>
          </li>
        </ul>
        <h3 class="table__name">Ingredients</h3>
        <ul class="table">
          <li class="table__item">
            <p class="table__text">Milk</p>
            <p class="table__text">100ml</p>
          </li>
          <li class="table__item">
            <p class="table__text">Caramel</p>
            <p class="table__text">10g</p>
          </li>
          <li class="table__item">
            <p class="table__text">Cream</p>
            <p class="table__text">150 ml</p>
          </li>
          <li class="table__item">
            <p class="table__text">White chocolate</p>
            <p class="table__text">20g</p>
          </li>
          <li class="table__item">
            <p class="table__text">Sugar</p>
            <p class="table__text">40g</p>
          </li>
          <li class="table__item">
            <p class="table__text">Vanilla sugar</p>
            <p class="table__text">20g</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="dots1"></div>
  </div>
  <!-- Form -->
  <form class="form form-ingr">
    <input
      class="form__input"
      type="text"
      name="username"
      placeholder="Name"
      required
    />
    <input
      class="form__input"
      type="tel"
      name="phone"
      placeholder="Phone"
      required
      pattern="^\(?([0-9]{3})\)?([ .-]?)([0-9]{3})\2([0-9]{4})$"
    />
    <!-- The pattern see in https://stackoverflow.com/questions/58248441/regex-template-for-ukrainian-phone-numbers -->

    <textarea
      class="form__input form__input--multiline"
      name="comment"
      placeholder="Comment"
    ></textarea>
    <button class="form__button button" type="submit">Submit</button>
  </form>
</div>
