<!-- Modal ingridients -->

<div class="modal modal--ingr" data-modal="7">
  <button
    class="modal__btn-close js-modal-close"
    type="button"
    data-modal-close
  >
    <svg class="modal__btn-close-icon">
      <use href="./images/icon.svg#close-modal"></use>
    </svg>
  </button>

  <div class="ingridient__wrapp">
    <div class="ingridient__slider3">
      <div class="modal__container-ingr">
      <h2 class="modal__title modal__title--ingr">Chocolate milkshake</h2>
      <div class="ingredients">
        <picture>
          <source
            class="ingredients__img"
            srcset="
              ./images/modal3-ingr1.jpg    1x,
              ./images/modal3-ingr1-2x.jpg 2x
            "
            media="(min-width:1200px)"
          />

          <img
            class="ingredients__img"
            src="./images/modal3-ingr1.jpg"
            alt="Chocolate milkshake"
          />
        </picture>
      </div>

      <ul class="callories">
        <li class="callories__item">
          <div class="round"><p class="round__text">270</p></div>
          <p>kcal</p>
        </li>
        <li class="callories__item">
          <div class="round"><p class="round__text">5g</p></div>
          <p>Protein</p>
        </li>
        <li class="callories__item">
          <div class="round"><p class="round__text">7,3g</p></div>
          <p>Fats</p>
        </li>
        <li class="callories__item">
          <div class="round"><p class="round__text">40,1g</p></div>
          <p>Carbs</p>
        </li>
      </ul>
      <h3 class="table__name">Ingredients</h3>
      <ul class="table">
        <li class="table__item">
          <p class="table__text">Milk</p>
          <p class="table__text">70ml</p>
        </li>
        <li class="table__item">
          <p class="table__text">Ice cream</p>
          <p class="table__text">50g</p>
        </li>
        <li class="table__item">
          <p class="table__text">Cream</p>
          <p class="table__text">30ml</p>
        </li>
        <li class="table__item">
          <p class="table__text">Belgian chocolate</p>
          <p class="table__text">50g</p>
        </li>
        <li class="table__item">
          <p class="table__text">Vanilla sugar</p>
          <p class="table__text">20g</p>
        </li>
        <li class="table__item">
          <p class="table__text">Syrup</p>
          <p class="table__text">30ml</p>
        </li>
      </ul>
    </div>
    <div class="modal__container-ingr">
      <h2 class="modal__title modal__title--ingr">Berry milkshake</h2>
      <div class="ingredients">
        <picture>
          <source
            class="ingredients__img"
            srcset="
              ./images/modal3-ingr2.jpg    1x,
              ./images/modal3-ingr2-2x.jpg 2x
            "
            media="(min-width:1200px)"
          />

          <img
            class="ingredients__img"
            src="./images/modal3-ingr2.jpg"
            alt="Berry milkshake"
          />
        </picture>
      </div>

      <ul class="callories">
        <li class="callories__item">
          <div class="round"><p class="round__text">300</p></div>
          <p>kcal</p>
        </li>
        <li class="callories__item">
          <div class="round"><p class="round__text">10g</p></div>
          <p>Protein</p>
        </li>
        <li class="callories__item">
          <div class="round"><p class="round__text">5,5g</p></div>
          <p>Fats</p>
        </li>
        <li class="callories__item">
          <div class="round"><p class="round__text">36,1g</p></div>
          <p>Carbs</p>
        </li>
      </ul>
      <h3 class="table__name">Ingredients</h3>
      <ul class="table">
        <li class="table__item">
          <p class="table__text">Milk</p>
          <p class="table__text">50ml</p>
        </li>
        <li class="table__item">
          <p class="table__text">Berry</p>
          <p class="table__text">50g</p>
        </li>
        <li class="table__item">
          <p class="table__text">Cream</p>
          <p class="table__text">30ml</p>
        </li>
        <li class="table__item">
          <p class="table__text">Syrup</p>
          <p class="table__text">10mg</p>
        </li>
        <li class="table__item">
          <p class="table__text">Ice cream</p>
          <p class="table__text">40g</p>
        </li>
        <li class="table__item">
          <p class="table__text">Vanilla sugar</p>
          <p class="table__text">20ml</p>
        </li>
      </ul>
    </div>
    <div class="modal__container-ingr">
      <h2 class="modal__title modal__title--ingr">Mango milkshake</h2>
      <div class="ingredients">
        <picture>
          <source
            class="ingredients__img"
            srcset="
              ./images/modal3-ingr3.jpg    1x,
              ./images/modal3-ingr3-2x.jpg 2x
            "
            media="(min-width:1200px)"
          />

          <img
            class="ingredients__img"
            src="./images/modal3-ingr3.jpg"
            alt="mango milkshake"
          />
        </picture>
      </div>

      <ul class="callories">
        <li class="callories__item">
          <div class="round"><p class="round__text">260</p></div>
          <p>kcal</p>
        </li>
        <li class="callories__item">
          <div class="round"><p class="round__text">3g</p></div>
          <p>Protein</p>
        </li>
        <li class="callories__item">
          <div class="round"><p class="round__text">3,3g</p></div>
          <p>Fats</p>
        </li>
        <li class="callories__item">
          <div class="round"><p class="round__text">25,1g</p></div>
          <p>Carbs</p>
        </li>
      </ul>
      <h3 class="table__name">Ingredients</h3>
      <ul class="table">
        <li class="table__item">
          <p class="table__text">Milk</p>
          <p class="table__text">70ml</p>
        </li>
        <li class="table__item">
          <p class="table__text">Cream</p>
          <p class="table__text">50ml</p>
        </li>
        <li class="table__item">
          <p class="table__text">Mango</p>
          <p class="table__text">50g</p>
        </li>
        <li class="table__item">
          <p class="table__text">Ice cream</p>
          <p class="table__text">50g</p>
        </li>
        <li class="table__item">
          <p class="table__text">Vanilla sugar</p>
          <p class="table__text">10g</p>
        </li>
        <li class="table__item">
          <p class="table__text">Syrup</p>
          <p class="table__text">15ml</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="dots3"></div>
</div>
  <!-- Form -->
  <form class="form form-ingr">
    <input
      class="form__input"
      type="text"
      name="username"
      placeholder="Name"
      required
    />
    <input
      class="form__input"
      type="tel"
      name="phone"
      placeholder="Phone"
      required
      pattern="^\(?([0-9]{3})\)?([ .-]?)([0-9]{3})\2([0-9]{4})$"
    />
    <!-- The pattern see in https://stackoverflow.com/questions/58248441/regex-template-for-ukrainian-phone-numbers -->

    <textarea
      class="form__input form__input--multiline"
      name="comment"
      placeholder="Comment"
    ></textarea>
    <button class="form__button button" type="submit">Submit</button>
  </form>
</div>
