<!-- Modal our location -->
<div class="modal modal__our-location" data-modal="4">
  <button
    class="modal__btn-close js-modal-close"
    type="button"
    data-modal-close
  >
    <svg class="modal__btn-close-icon">
      <use href="./images/icon.svg#close-modal"></use>
    </svg>
  </button>

  <h2 class="modal__title modal__our-location-title">Our location</h2>

  <iframe
    class="modal__our-location-maps"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2587.2753037085654!2d34.50304681511746!3d49.57369565802887!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82f3118d0dd7b%3A0xbbb38ba2c686de10!2z0JzQvtGA0L7QttC10L3QvtC1!5e0!3m2!1sru!2sua!4v1663581490369!5m2!1sru!2sua"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
  <a
    class="modal__our-location-button"
    target="_blank"
    rel="noreferer noopener"
    href="https://goo.gl/maps/DsxchWQ912kzC5vu5"
    >Open map</a
  >
</div>
