<!-- Modal read more -->
<div class="modal modal-readMore" data-modal="3">
  <button
    class="modal__btn-close js-modal-close"
    type="button"
    data-modal-close
  >
    <svg class="modal__btn-close-icon">
      <use href="./images/icon.svg#close-modal"></use>
    </svg>
  </button>

  <h2 class="modal__title modal-readMore__title">How it’s made?</h2>

  <!-- TODO: form -->
  <iframe
    class="modal-readMore__video"
    src="https://www.youtube.com/embed/s87nFAfIzE4"
    title="YouTube video player"
  ></iframe>

  <p class="modal-readMore__text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
    adipiscing elit, sed do eiusmod tempor incididunt ut labore et
  </p>
</div>
