<button type="button" class="header__button">Buy now&nbsp;&#10095;</button>
<button type="button" class="hero__button">Products</button>
<button type="button" class="hero__button hero__button--without-body">
  How it’s made?
</button>
<button type="button" class="about__button">Read more&nbsp;&#10095;</button>
<button type="button" class="contacts__button">
  Our Locations&nbsp;&#10095;
</button>
<button type="button" class="contacts__button contacts__button--transparent">
  Franchise&nbsp;&#10095;
</button>
<button type="button" class="modal__location__button">Open map</button>
<button type="submit" class="modal__button">Submit</button>
