<button type="button" class="header__button">
  Buy now<svg width="12" height="12">
    <use href="./images/icon.svg#arrow-btn"></use>
  </svg>
</button>
<button type="button" class="hero__button">Products</button>
<button type="button" class="hero__button hero__button--without-body">
  How it’s made?
</button>
<button type="button" class="about__button">
  Read more<svg width="12" height="12">
    <use href="./images/icon.svg#arrow-btn"></use>
  </svg>
</button>
<button type="button" class="contacts__button">
  Our Locations<svg width="12" height="12">
    <use href="./images/icon.svg#arrow-btn"></use>
  </svg>
</button>
<button type="button" class="contacts__button contacts__button--transparent">
  Franchise<svg width="12" height="12">
    <use href="./images/icon.svg#arrow-btn"></use>
  </svg>
</button>
<button type="button" class="modal__location__button">Open map</button>
<button type="submit" class="modal__button">Submit</button>
