<section class="contacts container">
  <h2 class="visually-hidden">Contacts</h2>
<address>
    <div class="contacts-box">
      <div class="contacts-item">
        <div class="contacts-item__titel"><p class="contacts-item__text">cafe</p> </div> 
    <ul>
      <li>
        <ul class="contacts-adress">
          <li><h4>Chicago</h3></li>
          <li>
            <a
              href="https://goo.gl/maps/EURu3nSynFm9jHmbA"
              target="_blank"
              rel="noopener noreferrer nofollow"
              >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
            >
          </li>
        </ul>
      </li>
      <li>
        <ul class="contacts-time">
          <li><h4>Monday - Friday</h3></li>
          <li><p>06:00 AM - 10:00 PM</p></li>
          <li><h4>Saturday - Sunday</h3></li>
          <li><p>08:00 AM - 16:00 PM</p></li>
        </ul>
      </li>
      <li>
        <ul class="contacts-contacts">
          <li><a href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a></li>
          <li><a href="mailto:noreply@envato.com">noreply@envato.com</a></li>
        </ul>
      </li>
    </ul>
  </div>
        <div class="contacts-item">
            <div class="contacts-item__titel"><p class="contacts-item__text">food truck</p> </div> 
    <ul>
      <li>
        <ul class="contacts-adress">
          <li><h4>Los Angeles</h3></li>
          <li>
            <a
              href="https://goo.gl/maps/zhcWNBqxLeS6gavf7"
              target="_blank"
              rel="noopener noreferrer nofollow"
              >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
            >
          </li>
        </ul>
      </li>
      <li>
        <ul class="contacts-time">
          <li><h4>Monday - Friday</h3></li>
          <li><p>06:00 AM - 10:00 PM</p></li>
          <li><h4>Saturday - Sunday</h3></li>
          <li><p>08:00 AM - 16:00 PM</p></li>
        </ul>
      </li>
      <li>
        <ul class="contacts-cont">
          <li><a href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a></li>
          <li><a href="mailto:noreply@envato.com">noreply@envato.com</a></li>
        </ul>
      </li>
    </ul>
  </div>
        <div class="contacts-item">
            <div class="contacts-item__titel"><p class="contacts-item__text">cafe</p> </div> 
    <ul>
      <li>
        <ul class="contacts-adress">
          <li><h4>New York</h3></li>
          <li>
            <a
              href="https://goo.gl/maps/r42pkyf3kzEFfdTf8"
              target="_blank"
              rel="noopener noreferrer nofollow"
              >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
            >
          </li>
        </ul>
      </li>
      <li>
        <ul class="contacts-time">
          <li><h4>Monday - Friday</h3></li>
          <li><p>06:00 AM - 10:00 PM</p></li>
          <li><h4>Saturday - Sunday</h3></li>
          <li><p>08:00 AM - 16:00 PM</p></li>
        </ul>
      </li>
      <li>
        <ul class="contacts-cont">
          <li><a href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a></li>
          <li><a href="mailto:noreply@envato.com">noreply@envato.com</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
</address>
<div class="contasts-btns">
    <button type="button" class="contacts__button">Our Locations ></button>
    <button type="button" class="contacts__button contacts__button--transparent">Franchise ></button>
</div>
</section>
