<section class="contacts container" id="contacts">
  <h2 class="visually-hidden">Contacts</h2>
  <address>
    <div class="contacts-box">
      <div class="contacts-item">
        <div class="contacts-item__box">
          <p class="contacts-item__title">cafe</p>
        </div>
        <ul>
          <li>
            <ul class="contacts-adress">
              <li><p class="contacts-adress__title">Chicago</p></li>
              <li>
                <a
                  href="https://goo.gl/maps/EURu3nSynFm9jHmbA"
                  class="contacts-adress__loc"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
                >
              </li>
            </ul>
          </li>
          <li>
            <ul class="contacts-time">
              <li><p class="contacts-time__title">Monday - Friday</p></li>
              <li><p class="contacts-time__clock">06:00 AM - 10:00 PM</p></li>
              <li><p class="contacts-time__title">Saturday - Sunday</p></li>
              <li><p class="contacts-time__clock">08:00 AM - 16:00 PM</p></li>
            </ul>
          </li>
          <li>
            <ul class="contacts-cont">
              <li>
                <a href="tel:+61(0) 383 766 284" class="contacts-cont__text"
                  >+61(0) 383 766 284</a
                >
              </li>
              <li>
                <a href="mailto:noreply@envato.com" class="contacts-cont__text"
                  >noreply@envato.com</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="contacts-item">
        <div class="contacts-item__box">
          <p class="contacts-item__title">food truck</p>
        </div>
        <ul>
          <li>
            <ul class="contacts-adress">
              <li><p class="contacts-adress__title">Los Angeles</p></li>
              <li>
                <a
                  href="https://goo.gl/maps/zhcWNBqxLeS6gavf7"
                  class="contacts-adress__loc"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
                >
              </li>
            </ul>
          </li>
          <li>
            <ul class="contacts-time">
              <li><p class="contacts-time__title">Monday - Friday</p></li>
              <li><p class="contacts-time__clock">06:00 AM - 10:00 PM</p></li>
              <li><p class="contacts-time__title">Saturday - Sunday</p></li>
              <li><p class="contacts-time__clock">08:00 AM - 16:00 PM</p></li>
            </ul>
          </li>
          <li>
            <ul class="contacts-cont">
              <li>
                <a href="tel:+61(0) 383 766 284" class="contacts-cont__text"
                  >+61(0) 383 766 284</a
                >
              </li>
              <li>
                <a href="mailto:noreply@envato.com" class="contacts-cont__text"
                  >noreply@envato.com</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="contacts-item">
        <div class="contacts-item__box">
          <p class="contacts-item__title">cafe</p>
        </div>
        <ul>
          <li>
            <ul class="contacts-adress">
              <li><p class="contacts-adress__title">New York</p></li>
              <li>
                <a
                  href="https://goo.gl/maps/r42pkyf3kzEFfdTf8"
                  class="contacts-adress__loc"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
                >
              </li>
            </ul>
          </li>
          <li>
            <ul class="contacts-time">
              <li><p class="contacts-time__title">Monday - Friday</p></li>
              <li><p class="contacts-time__clock">06:00 AM - 10:00 PM</p></li>
              <li><p class="contacts-time__title">Saturday - Sunday</p></li>
              <li><p class="contacts-time__clock">08:00 AM - 16:00 PM</p></li>
            </ul>
          </li>
          <li>
            <ul class="contacts-cont">
              <li>
                <a href="tel:+61(0) 383 766 284" class="contacts-cont__text"
                  >+61(0) 383 766 284</a
                >
              </li>
              <li>
                <a href="mailto:noreply@envato.com" class="contacts-cont__text"
                  >noreply@envato.com</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </address>
  <div class="contasts-btns">
    <button type="button" class="contacts__button">
      Our Locations<svg width="12" height="12">
        <use href="./images/icon.svg#arrow-btn"></use>
      </svg>
    </button>
    <button
      type="button"
      class="contacts__button contacts__button--transparent"
    >
      Franchise<svg width="12" height="12">
        <use href="./images/icon.svg#arrow-btn"></use>
      </svg>
    </button>
  </div>
</section>
