<section class="contacts">
  <h2 class="visually-hidden">Contacts</h2>
  <div class="contacts__container" id="contacts">
    <div class="container container--contacts">
      <address class="contacts__address">
        <ul class="contacts__contacts-list contacts-list">
          <li class="contacts-list__contacts-item contacts-item">
            <p class="contacts-item__place">cafe</p>
            <div class="contacts-item__box contacts-item__box--paddbot">
              <p class="contacts-item__label">Chicago</p>
              <a
                href="https://goo.gl/maps/EURu3nSynFm9jHmbA"
                class="contacts-item__link"
                target="_blank"
                rel="noopener noreferrer nofollow"
                >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
              >
            </div>
            <ul class="contacts-item__box contacts-item__box--border">
              <li>
                <p class="contacts-item__title">Monday - Friday</p>
                <p class="contacts-item__clock">06:00 AM - 10:00 PM</p>
              </li>
              <li>
                <p class="contacts-item__title">Saturday - Sunday</p>
                <p class="contacts-item__clock">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
            <ul class="contacts-item__box contacts-item__box--paddtop">
              <li>
                <a href="tel:+610383766284" class="contacts-item__tel"
                  >+61(0) 383 766 284</a
                >
              </li>
              <li>
                <a href="mailto:noreply@envato.com" class="contacts-item__mail"
                  >noreply@envato.com</a
                >
              </li>
            </ul>
          </li>
          <li class="contacts-list__contacts-item contacts-item">
            <p class="contacts-item__place">food truck</p>
            <div class="contacts-item__box contacts-item__box--paddbot">
              <p class="contacts-item__label">Los Angeles</p>
              <a
                href="https://goo.gl/maps/zhcWNBqxLeS6gavf7"
                class="contacts-item__link"
                target="_blank"
                rel="noopener noreferrer nofollow"
                >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
              >
            </div>
            <ul class="contacts-item__box contacts-item__box--border">
              <li>
                <p class="contacts-item__title">Monday - Friday</p>
                <p class="contacts-item__clock">06:00 AM - 10:00 PM</p>
              </li>
              <li>
                <p class="contacts-item__title">Saturday - Sunday</p>
                <p class="contacts-item__clock">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
            <ul class="contacts-item__box contacts-item__box--paddtop">
              <li>
                <a href="tel:+610383766284" class="contacts-item__tel"
                  >+61(0) 383 766 284</a
                >
              </li>
              <li>
                <a href="mailto:noreply@envato.com" class="contacts-item__mail"
                  >noreply@envato.com</a
                >
              </li>
            </ul>
          </li>
          <li class="contacts-list__contacts-item contacts-item">
            <p class="contacts-item__place">cafe</p>
            <div class="contacts-item__box contacts-item__box--paddbot">
              <p class="contacts-item__label">New York</p>
              <a
                href="https://goo.gl/maps/r42pkyf3kzEFfdTf8"
                class="contacts-item__link"
                target="_blank"
                rel="noopener noreferrer nofollow"
                >726 Sterling Pl, Brooklyn, NY 11222, USA</a
              >
            </div>
            <ul class="contacts-item__box contacts-item__box--border">
              <li>
                <p class="contacts-item__title">Monday - Friday</p>
                <p class="contacts-item__clock">06:00 AM - 10:00 PM</p>
              </li>
              <li>
                <p class="contacts-item__title">Saturday - Sunday</p>
                <p class="contacts-item__clock">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
            <ul class="contacts-item__box contacts-item__box--paddtop">
              <li>
                <a href="tel:+610383766284" class="contacts-item__tel"
                  >+61(0) 383 766 284</a
                >
              </li>
              <li>
                <a href="mailto:noreply@envato.com" class="contacts-item__mail"
                  >noreply@envato.com</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </address>
      <ul class="contacts__btns">
        <li>
          <button
            type="button"
            class="contacts__button js-open-modal"
            data-modal="4"
          >
            Our Locations
            <svg width="12" height="12">
              <use
                class="button__arrow"
                href="./images/icon.svg#arrow-btn"
              ></use>
            </svg>
          </button>
        </li>
        <li>
          <button
            type="button"
            class="contacts__button contacts__button--transparent js-open-modal"
            data-modal="5"
          >
            Franchise
            <svg width="12" height="12">
              <use
                class="button__arrow"
                href="./images/icon.svg#arrow-btn"
              ></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
