<section class="customer__section">
  <div class="customer container">
    <h2 class="visually-hidden">Customers</h2>
    <ul class="customer__item">
      <li class="customer__list">
        <img
          class="customer__img"
          srcset="./images/review1.png 1x, ./images/review1-2x.png 2x"
          src="./images/review1.png"
          alt="beautiful girl"
        />
      </li>
      <li class="customer__list">
        <img
          class="customer__img"
          srcset="./images/review2.png 1x, ./images/review2-2x.png 2x"
          src="./images/review2.png"
          alt="man eating icecream"
        />
      </li>
      <li class="customer__list">
        <img
          class="customer__img"
          srcset="./images/review3.png 1x, ./images/review3-2x.png 2x"
          src="./images/review3.png"
          alt="woman eating huzelnut icecream"
        />
      </li>
      <li class="customer__list">
        <img
          class="customer__img"
          srcset="./images/review4.png 1x, ./images/review4-2x.png 2x"
          src="./images/review4.png"
          alt="man with popsicles"
        />
      </li>
    </ul>
    <ul class="customer__item2 customer__list-text">
      <li class="customer__list">
        <p class="customer__text">
          I love visiting your cafe. You prepare the most delicious ice cream in
          Los Angeles! In addition, you have beautiful serving, cozy atmosphere
          and polite staff.
        </p>
      </li>
      <li class="customer__list">
        <p class="customer__text">
          Every day we come to you with friends after classes in college. We
          love your ice cream and casual atmosphere!
        </p>
      </li>
      <li class="customer__list">
        <p class="customer__text">
          Ice cream is my passion! I love your chocolate hazelnut ice cream! And
          I really like the excellent service - always served politely and
          quickly!
        </p>
      </li>
      <li class="customer__list customer__list-text">
        <p class="customer__text">
          I love eating popsicles on a hot day. Yours is always delicious. I
          recommend your cafe to everyone I know.
        </p>
      </li>
    </ul>
    <ul class="customer__item3 customer__list-text">
      <li class="customer__list">
        <p class="customer__name">Emily, Los Angeles</p>
      </li>
      <li class="customer__list customer__list-text">
        <p class="customer__name">Bryan, New-York</p>
      </li>
      <li class="customer__list customer__list-text">
        <p class="customer__name">Diana, Chicago</p>
      </li>
      <li class="customer__list customer__list-text">
        <p class="customer__name">Sam, Los Angeles</p>
      </li>
    </ul>
    <div class="slick-dotees slick-dotted slick-slider"></div>
  </div>
</section>
