<section class="customer__section">
  <div class="customer container">
    <h2 class="visually-hidden">Customers</h2>
    <ul class="customer__item">
      <li class="customer__list">
        <img
          class="customer__img"
          srcset="./images/denysvolodko.jpg 1x, ./images/denysvolodko-2x.jpg 2x"
          src="./images/denysvolodko.jpg"
          alt="teamlead project"
        />
      </li>
      <li class="customer__list">
        <img
          class="customer__img"
          srcset="
            ./images/svitlanakonovalenko.jpg    1x,
            ./images/svitlanakonovalenko-2x.jpg 2x
          "
          src="./images/svitlanakonovalenko.jpg"
          alt="scrum master project"
        />
      </li>
      <li class="customer__list">
        <img
          class="customer__img"
          srcset="
            ./images/stanislavshevchenko.jpg    1x,
            ./images/stanislavshevchenko-2x.jpg 2x
          "
          src="./images/stanislavshevchenko.jpg"
          alt="master modal and js"
        />
      </li>
      <li class="customer__list">
        <img
          class="customer__img"
          srcset="./images/olenamushko.jpg 1x, ./images/olenamushko-2x.jpg 2x"
          src="./images/olenamushko.jpg"
          alt="master hero-heder"
        />
      </li>
      <li class="customer__list">
        <img
          class="customer__img"
          srcset="
            ./images/pavlobezsinniy.jpg    1x,
            ./images/pavlobezsinniy-2x.jpg 2x
          "
          src="./images/pavlobezsinniy.jpg"
          alt="master products"
        />
      </li>
      <li class="customer__list">
        <img
          class="customer__img"
          srcset="./images/nadyavodvud.jpg 1x, ./images/nadyavodvud-2x.jpg 2x"
          src="./images/nadyavodvud.jpg"
          alt="master about"
        />
      </li>
      <li class="customer__list">
        <img
          class="customer__img"
          srcset="
            ./images/alexandernikonov.jpg    1x,
            ./images/alexandernikonov-2x.jpg 2x
          "
          src="./images/alexandernikonov.jpg"
          alt="master gallery-slider"
        />
      </li>
      <li class="customer__list">
        <img
          class="customer__img"
          srcset="./images/alinabanias.jpg 1x, ./images/alinabanias-2x.jpg 2x"
          src="./images/alinabanias.jpg"
          alt="master customers-slider"
        />
      </li>
      <li class="customer__list">
        <img
          class="customer__img"
          srcset="
            ./images/stolbinmikita.jpg    1x,
            ./images/stolbinmikita-2x.jpg 2x
          "
          src="./images/stolbinmikita.jpg"
          alt="master contacts"
        />
      </li>
      <li class="customer__list">
        <img
          class="customer__img"
          srcset="
            ./images/margarytagolub.jpg    1x,
            ./images/margarytagolub-2x.jpg 2x
          "
          src="./images/margarytagolub.jpg"
          alt="master images and modals"
        />
      </li>
      <li class="customer__list">
        <img
          class="customer__img"
          srcset="./images/olegstaeniy.jpg 1x, ./images/olegstaeniy-2x.jpg 2x"
          src="./images/olegstaeniy.jpg"
          alt="master footer"
        />
      </li>
    </ul>
    <ul class="customer__item2 customer__list-text">
      <li class="customer__list">
        <p class="customer__text">
          I love visiting your cafe. You prepare the most delicious ice cream in
          Los Angeles! In addition, you have beautiful serving, cozy atmosphere
          and polite staff.
        </p>
      </li>
      <li class="customer__list">
        <p class="customer__text">
          Every day we come to you with friends after classes in college. We
          love your ice cream and casual atmosphere!
        </p>
      </li>
      <li class="customer__list">
        <p class="customer__text">
          Ice cream is my passion! I love your chocolate hazelnut ice cream! And
          I really like the excellent service - always served politely and
          quickly!
        </p>
      </li>
      <li class="customer__list customer__list-text">
        <p class="customer__text">
          I love eating popsicles on a hot day. Yours is always delicious. I
          recommend your cafe to everyone I know.
        </p>
      </li>
      <li class="customer__list">
        <p class="customer__text">
          I love visiting your cafe. You prepare the most delicious ice cream in
          Los Angeles! In addition, you have beautiful serving, cozy atmosphere
          and polite staff.
        </p>
      </li>
      <li class="customer__list">
        <p class="customer__text">
          Every day we come to you with friends after classes in college. We
          love your ice cream and casual atmosphere!
        </p>
      </li>
      <li class="customer__list">
        <p class="customer__text">
          Ice cream is my passion! I love your chocolate hazelnut ice cream! And
          I really like the excellent service - always served politely and
          quickly!
        </p>
      </li>
      <li class="customer__list customer__list-text">
        <p class="customer__text">
          I love eating popsicles on a hot day. Yours is always delicious. I
          recommend your cafe to everyone I know.
        </p>
      </li>
      <li class="customer__list">
        <p class="customer__text">
          Every day we come to you with friends after classes in college. We
          love your ice cream and casual atmosphere!
        </p>
      </li>
      <li class="customer__list">
        <p class="customer__text">
          Ice cream is my passion! I love your chocolate hazelnut ice cream! And
          I really like the excellent service - always served politely and
          quickly!
        </p>
      </li>
      <li class="customer__list customer__list-text">
        <p class="customer__text">
          I love eating popsicles on a hot day. Yours is always delicious. I
          recommend your cafe to everyone I know.
        </p>
      </li>
    </ul>
    <ul class="customer__item3 customer__list-text">
      <li class="customer__list">
        <p class="customer__name">Denys, Bucha</p>
      </li>
      <li class="customer__list customer__list-text">
        <p class="customer__name">Svitlana, Energodar</p>
      </li>
      <li class="customer__list customer__list-text">
        <p class="customer__name">Stanislav, Kharkiv</p>
      </li>
      <li class="customer__list customer__list-text">
        <p class="customer__name">Alena, Stryi</p>
      </li>
      <li class="customer__list">
        <p class="customer__name">Pavlo, Kyiv</p>
      </li>
      <li class="customer__list customer__list-text">
        <p class="customer__name">Nadya, Lviv</p>
      </li>
      <li class="customer__list customer__list-text">
        <p class="customer__name">Alexander, Alexandriya</p>
      </li>
      <li class="customer__list customer__list-text">
        <p class="customer__name">Alina, Obukhov</p>
      </li>
      <li class="customer__list customer__list-text">
        <p class="customer__name">Nikita, Kyiv</p>
      </li>
      <li class="customer__list customer__list-text">
        <p class="customer__name">Margarita, Sumy</p>
      </li>
      <li class="customer__list customer__list-text">
        <p class="customer__name">Oleg, Vinnytsia</p>
      </li>
    </ul>
    <div class="slick-dotees slick-dotted slick-slider"></div>
  </div>
</section>
