<footer class="footer">
  <div class="container">
    <div class="footer-main">
      <div class="footer-titles">
        <h3 class="footer-titles__pretitle">homemade ice cream made</h3>
        <h2 class="footer-titles__title">with passion</h2>
      </div>
      <div class="footer-contact-box">
        <div class="footer-soc">
          <a href="https://github.com/" class="icons-soc">
            <svg class="github" width="32" height="32">
              <use href="./images/icon.svg#github"></use>
            </svg>
          </a>
          <a href="https://web.telegram.org/k/" class="icons-soc">
            <svg class="telegram" width="32" height="32">
              <use href="./images/icon.svg#telegram"></use>
            </svg>
          </a>
          <a href="https://www.facebook.com/" class="icons-soc">
            <svg class="facebook" width="32" height="32">
              <use href="./images/icon.svg#facebook"></use>
            </svg>
          </a>
        </div>
        <div class="footer-contact">
          <p>
            <span class="footer-contact__text"
              >Feel free to contact
              <a href="tel:+61(0) 383 766 284" class="footer-contact__tel"
                >+61(0) 383 766 284</a
              ></span
            >
          </p>
        </div>
      </div>
    </div>
    <div class="footer-border">
      <div class="footer-border__bottom"></div>
    </div>
    <div class="footer-after-title">
      <p class="footer-after-title__text">
        © 2022 - IceCream. All Rights Reserved
      </p>
    </div>
  </div>
</footer>
