<section class="gallery">
  <div class="container gallery__container">
    <h2 class="visually-hidden">Gallery ice cream</h2>
    <div class="swiper wrapper">
      <ul class="swiper-wrapper">
        <li class="swiper-slide">
          <div class="slider__img">
            <picture class="slider__picture">
              <source media="(min-width:1200px)" srcset="./images/gallery1.jpg 1x,
              ./images/gallery1-2x.jpg 2x ">
              <source media="(min-width:768px)" srcset="./images/gallery1-tab.jpg 1x,
              ./images/gallery1-tab-2x.jpg 2x ">
              <source media="(max-width: 379px)" srcset="./images/gallery1-mob.jpg 1x,
              ./images/gallery1-mob-2x.jpg 2x ">
              <source media="(max-width: 438px)" srcset="./images/gallery1-350.jpg 1x,
              ./images/gallery1-350-2x.jpg 2x ">
              <source media="(max-width: 767px)" srcset="./images/gallery1-400.jpg 1x,
              ./images/gallery1-400-2x.jpg 2x ">
              <img src="./images/gallery1-mob.jpg" class="slider__img" alt="Ice cream with fruits" />
            </picture>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="slider__img">
            <picture class="slider__picture">
              <source media="(min-width:1200px)" srcset="./images/gallery2.jpg 1x,
              ./images/gallery2-2x.jpg 2x ">
              <source media="(min-width:768px)" srcset="./images/gallery2-tab.jpg 1x,
              ./images/gallery2-tab-2x.jpg 2x ">
              <source media="(max-width: 379px)" srcset="./images/gallery2-mob.jpg 1x,
              ./images/gallery2-mob-2x.jpg 2x ">
              <source media="(max-width: 438px)" srcset="./images/gallery2-350.jpg 1x,
              ./images/gallery2-350-2x.jpg 2x ">
              <source media="(max-width: 767px)" srcset="./images/gallery2-400.jpg 1x,
              ./images/gallery2-400-2x.jpg 2x ">
              <img src="./images/gallery2-mob.jpg" class="slider__img" alt="Lemon ice cream" />
            </picture>
          </div>
        </li>
        <li class="swiper-slide ">
          <div class="slider__img">
            <picture class="slider__picture">
              <source media="(min-width:1200px)" srcset="./images/gallery3.jpg 1x,
              ./images/gallery3-2x.jpg 2x ">
              <source media="(min-width:768px)" srcset="./images/gallery3-tab.jpg 1x,
              ./images/gallery3-tab-2x.jpg 2x ">
              <source media="(max-width: 379px)" srcset="./images/gallery3-mob.jpg 1x,
              ./images/gallery3-mob-2x.jpg 2x ">
              <source media="(max-width: 438px)" srcset="./images/gallery3-350.jpg 1x,
              ./images/gallery3-350-2x.jpg 2x ">
              <source media="(max-width: 767px)" srcset="./images/gallery3-400.jpg 1x,
              ./images/gallery3-400-2x.jpg 2x ">
              <img src="./images/gallery3-mob.jpg" class="slider__img" alt="Ice cream with vanilla" />
            </picture>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>