<section class="gallery">
<div class="container">
    <div class="swiper wrapper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
            <div class="slider__img">
              <picture>
                <source media="(min-width:1200px)" srcset="./images/gallary1.png 1x,
               ./images/gallary1-2x.png 2x ">
                <source media="(min-width:768px)" srcset="./images/gallary1-tab.png 1x,
               ./images/gallary1-tab-2x.png 2x ">
                <source media="(max-width:767px)" srcset="./images/gallary1-mob.png 1x,
               ./images/gallary1-mob-2x.png 2x ">                
                <img src="./images/gallary1-mob.png" class="slider__img" alt="Slider1" />
              </picture>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="slider__img">
              <picture>
                <source media="(min-width:1200px)" srcset="./images/gallary2.png 1x,
               ./images/gallary2-2x.png 2x ">
                <source media="(min-width:768px)" srcset="./images/gallary2-tab.png 1x,
               ./images/gallary2-tab-2x.png 2x ">
                <source media="(max-width:767px)" srcset="./images/gallary2-mob.png 1x,
               ./images/gallary2-mob-2x.png 2x" >       
                <img src="./images/gallary2-mob.png" class="slider__img" alt="Slider2" />
              </picture>
            </div>
          </div>
          <div class="swiper-slide ">
            <div class="slider__img">
              <picture>
                <source media="(min-width:1200px)" srcset="./images/gallary3.png 1x,
               ./images/gallary3-2x.png 2x ">
                <source media="(min-width:768px)" srcset="./images/gallary3-tab.png 1x,
               ./images/gallary3-tab-2x.png 2x ">
                <source media="(max-width:767px)" srcset="./images/gallary3-mob.png 1x,
               ./images/gallary3-mob-2x.png 2x">
                <img src="./images/gallary3-mob.png" class="slider__img" alt="Slider3" />
              </picture>
            </div>
          </div>
        </div>
      </div>
</div>
</section>

