<section class="gallery">
<div class="container">
    <div class="swiper wrapper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
            <div class="slider__img">
              <picture>
                <source media="(min-width:1200px)" srcset="./images/gallary1-d.png 1x,
               ./images/gallary1-d-2x.png 2x ">
                <source media="(min-width:768px)" srcset="./images/gallary1-t.png 1x,
               ./images/gallary1-t-2x.png 2x ">
                <source media="(max-width:767px)" srcset="./images/gallary1-m.png 1x,
               ./images/gallary1-m-2x.png 2x ">                
                <img src="./images/gallary1-m.png" class="slider__img" alt="Slider1" />
              </picture>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="slider__img">
              <picture>
                <source media="(min-width:1200px)" srcset="./images/gallary2-d.png 1x,
               ./images/gallary2-d-2x.png 2x ">
                <source media="(min-width:768px)" srcset="./images/gallary2-t.png 1x,
               ./images/gallary2-t-2x.png 2x ">
                <source media="(max-width:767px)" srcset="./images/gallary2-m.png 1x,
               ./images/gallary2-m-2x.png 2x" >       
                <img src="./images/gallary2-m.png" class="slider__img" alt="Slider2" />
              </picture>
            </div>
          </div>
          <div class="swiper-slide ">
            <div class="slider__img">
              <picture>
                <source media="(min-width:1200px)" srcset="./images/gallary3-d.png 1x,
               ./images/gallary3-d-2x.png 2x ">
                <source media="(min-width:768px)" srcset="./images/gallary3-t.png 1x,
               ./images/gallary3-t-2x.png 2x ">
                <source media="(max-width:767px)" srcset="./images/gallary3-m.png 1x,
               ./images/gallary3-m-2x.png 2x">
                <img src="./images/gallary3-m.png" class="slider__img" alt="Slider3" />
              </picture>
            </div>
          </div>
        </div>
      </div>
</div>
</section>