<!-- Modals -->
<div class="overlay js-overlay-modal">
  <include src="./partials/modals/ingridients.html"></include>
</div>

<div class="overlay js-overlay-modal">
  <include src="./partials/modals/buy-now.html"></include>
</div>

<div class="overlay js-overlay-modal">
  <include src="./partials/modals/read-more.html"></include>
</div>

<div class="overlay js-overlay-modal">
  <include src="./partials/modals/our-location.html"></include>
</div>

<div class="overlay js-overlay-modal">
  <include src="./partials/modals/franchise.html"></include>
</div>

<div class="overlay js-overlay-modal">
  <include src="./partials/modals/ingridients2.html"></include>
</div>

<div class="overlay js-overlay-modal">
  <include src="./partials/modals/ingridients3.html"></include>
</div>
