<!-- Buttons to open modals -->
<a href="#" class="js-open-modal" data-modal="1">Ingridients</a>
<a href="#" class="js-open-modal" data-modal="2">Buy now</a>
<a href="#" class="js-open-modal" data-modal="3">Read more</a>
<a href="#" class="js-open-modal" data-modal="4">Our location</a>
<a href="#" class="js-open-modal" data-modal="5">Franchise</a>

<!-- Modal ingridients -->
<div class="modal" data-modal="1">
  <button class="js-modal-close" type="button" data-modal-close>
    <svg class="modal__cross" width="32" height="32">
      <use href="./images/icon.svg#close-modal"></use>
    </svg>
  </button>

  <h2 class="modal__title">Ingridients</h2>

  <include src="./partials/modals/ingridients.html"></include>

  <!-- TODO: form -->
  <form></form>
</div>

<!-- Overlay -->
<div class="overlay js-overlay-modal"></div>
