button {
  background-color: transparent;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.25;
  @include flex(flex, center, center);
}

.hero__button {
  width: 62px;
  height: 24px;
  border: 2px solid #f8d24e;
  border-radius: 8px;
  font-size: 8px;
  line-height: 1.22;
  @media screen and (min-width: 1200px) {
    width: 134px;
    height: 42px;
    border-radius: 10px;
    font-size: 14px;
    line-height: 1.25;
  }
  &:hover {
    border-color: #0a8817;
  }
  &:focus {
    color: #ffffff;
  }
  &:disabled {
    color: #ababab;
  }
}

.about__button {
  width: 164px;
  height: 42px;
  background-color: #f8d24e;
  border-radius: 10px;
  &:hover {
    background-color: #0a8817;
  }
  &:focus {
    background-color: #0a8817;
    color: #ffffff;
  }
  &:disabled {
    background-color: #ababab;
  }
}

.contacts__button {
  width: 196px;
  height: 42px;
  background-color: #f8d24e;
  border-radius: 10px;
  &:hover {
    background-color: #0a8817;
  }
  &:focus {
    background-color: #0a8817;
    color: #ffffff;
  }
  &:disabled {
    background-color: #ababab;
  }
  &--transparent {
    background-color: transparent;
    border: 2px solid #f8d24e;
    &:hover {
      border-color: #0a8817;
    }
    &:focus {
      color: #ffffff;
    }
    &:disabled {
      color: #ababab;
    }
  }
}
// .contacts__button--transparent {
// }
// .header__button {
// }
// .custom {
//   cursor: url(images/my-cursor.png), auto;
//   cursor: url(target.svg) 15 15, move;
// }
