// загальний стиль кнопки
$timingAnima: $mainTransitionDuration $mainTransitionTimingFunction;
button {
  background-color: transparent;
  color: $primaryColor;
  border: none;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  @include font(600, 14px, 1.25, null);
  @include flex(flex, center, center);
  gap: 5px;
  transition: color $timingAnima, background-color $timingAnima,
    border-color $timingAnima;
}
// іконка кнопок
.button__arrow {
  fill: $primaryColor;
  transition: fill $timingAnima;
}
// кнопка Buy now
.header__button {
  min-width: 152px;
  height: 42px;
  background-color: $accentColor;
  border-radius: 10px;
  gap: 7px;
  &:hover {
    background-color: $btn-hoverColor;
  }
  &:focus {
    background-color: $btn-hoverColor;
    color: $textColor;
  }
  &:disabled {
    background-color: $btn-disabledColor;
  }
  &:focus .button__arrow {
    fill: $textColor;
  }
}
// кнопка Products
.hero__button {
  min-width: 62px;
  height: 24px;
  border: 2px solid $accentColor;
  border-radius: 8px;
  font-size: 8px;
  line-height: 1.22;
  transition: color $timingAnima, border-color $timingAnima;
  @include mq(desktop) {
    min-width: 134px;
    height: 42px;
    border-radius: 10px;
    font-size: 14px;
    line-height: 1.25;
  }
  &:hover {
    border-color: $btn-hoverColor;
  }
  &:focus {
    border-color: $btn-hoverColor;
    color: $textColor;
  }
  &:disabled {
    border-color: $btn-disabledColor;
    color: $btn-disabledColor;
  }
  // кнопка How it’s made?
  &--without-body {
    min-width: 83px;
    height: 24px;
    border: none;
    color: $accentColor;
    text-decoration: underline;

    @include mq(desktop) {
      min-width: 154px;
      height: 40px;
    }
    &:hover {
      color: $btn-hoverColor;
    }
    &:focus {
      color: $textColor;
    }
    &:disabled {
      color: $btn-disabledColor;
    }
  }
}
// кнопка Read more
.about__button {
  min-width: 164px;
  height: 42px;
  background-color: $accentColor;
  border-radius: 10px;
  &:hover {
    background-color: $btn-hoverColor;
  }
  &:focus {
    background-color: $btn-hoverColor;
    color: $textColor;
  }
  &:disabled {
    background-color: $btn-disabledColor;
  }
  &:focus .button__arrow {
    fill: $textColor;
  }
}
// кнопка Our Locations
.contacts__button {
  min-width: 196px;
  height: 42px;
  background-color: $accentColor;
  border-radius: 10px;
  gap: 6px;
  &:hover {
    background-color: $btn-hoverColor;
  }
  &:focus {
    background-color: $btn-hoverColor;
    color: $textColor;
  }
  &:disabled {
    background-color: $btn-disabledColor;
  }
  &:focus .button__arrow {
    fill: $textColor;
  }
}
// кнопка Franchise
.contacts__button--transparent {
  background-color: transparent;
  border: 2px solid $accentColor;
  gap: 6px;
  &:hover {
    background-color: transparent;
    border-color: $btn-hoverColor;
  }
  &:focus {
    background-color: transparent;
    border-color: $btn-hoverColor;
    color: $textColor;
  }
  &:disabled {
    background-color: transparent;
    border-color: $btn-disabledColor;
  }
  &:focus .button__arrow {
    fill: $textColor;
  }
}

// кнопка модалки Submit
.modal__button {
  min-width: 134px;
  height: 42px;
  background-color: $accentColor;
  border-radius: 10px;
  @include mq(mobile-only) {
    @include font(null, 12px, 1.22, null);
  }
  @include mq(desktop) {
    min-width: 121px;
    height: 42px;
  }
  &:hover {
    background-color: $btn-hoverColor;
  }
  &:focus {
    background-color: $btn-hoverColor;
    color: $textColor;
  }
  &:disabled {
    background-color: $btn-disabledColor;
  }
}
