.menu {
  stroke: #ffffff;
  transition: stroke $mainTransitionDuration $mainTransitionTimingFunction;
  .icon__hover__focus:hover & {
    stroke: #f8d24e;
  }
  .icon__hover__focus:focus & {
    stroke: #f8d24e;
  }
}
.arrow {
  &.arrow-default {
    display: block;
  }
  &.arrow-hover {
    display: none;
  }
  &.arrow-focus {
    display: none;
  }
  .icon__hover-focus:hover & {
    &.arrow-default {
      display: none;
    }
    &.arrow-hover {
      display: block;
    }
  }
  .icon__hover__focus:focus & {
    &.arrow-default {
      display: none;
    }
    &.arrow-focus {
      display: block;
    }
  }
}
.arrow-white {
  fill: #fcfcfc;
  transition: fill $mainTransitionDuration $mainTransitionTimingFunction;
  .icon__hover__focus:hover & {
    fill: #f8d24e;
  }
  .icon__hover__focus:focus & {
    fill: #f8d24e;
  }
}

.close {
  fill: #ffffff;
  transition: fill $mainTransitionDuration $mainTransitionTimingFunction;
  .icon__hover__focus:hover & {
    fill: #f8d24e;
  }
  .icon__hover__focus:focus & {
    fill: #f8d24e;
  }
}

.close-modal,
.close-modal-20 {
  fill: #131313;
  transition: fill $mainTransitionDuration $mainTransitionTimingFunction;
  .icon__hover__focus:hover & {
    fill: #f8d24e;
  }
  .icon__hover__focus:focus & {
    fill: #f8d24e;
  }
}

.cow,
.ice-crem,
.weight {
  fill: #000000;
}

.facebook,
.github,
.telegram {
  width: 34px;
  height: 34px;
  fill: #84a178;
  transition: width $mainTransitionDuration $mainTransitionTimingFunction, height $mainTransitionDuration $mainTransitionTimingFunction;
  .icon__hover__focus:hover & {
    width: 32px;
    height: 32px;
    fill: #fcfcfc;
  }
  .icon__hover__focus:focus & {
    width: 35px;
    height: 35px;
    fill: #fcfcfc;
  }
}
