.menu {
  stroke: #ffffff;
  transition: stroke $mainTransitionDuration $mainTransitionTimingFunction;
  .icon--hoverfocus:hover & {
    stroke: $accentColor;
  }
  .icon--hoverfocus:focus & {
    stroke: $accentColor;
  }
}
.arrow--white {
  fill: $extrabackgroundColor;
}
.arrow,
.arrow--white {
  &.arrow--default {
    display: block;
  }
  &.arrow--hover {
    display: none;
  }
  &.arrow--focus {
    display: none;
  }
  .icon--hoverfocus:hover & {
    &.arrow--default {
      display: none;
    }
    &.arrow--hover {
      display: block;
    }
  }
  .icon--hoverfocus:focus & {
    &.arrow--default {
      display: none;
    }
    &.arrow--focus {
      display: block;
    }
  }
}
.close {
  fill: #ffffff;
  transition: fill $mainTransitionDuration $mainTransitionTimingFunction;
  .icon--hoverfocus:hover & {
    fill: $accentColor;
  }
  .icon--hoverfocus:focus & {
    fill: $accentColor;
  }
}

.close--modal,
.close--modal20 {
  fill: $primaryColor;
  transition: fill $mainTransitionDuration $mainTransitionTimingFunction;
  .icon--hoverfocus:hover & {
    fill: $accentColor;
  }
  .icon--hoverfocus:focus & {
    fill: $accentColor;
  }
}

.cow,
.ice-crem,
.weight {
  fill: #000000;
}

.facebook,
.github,
.telegram {
  width: 34px;
  height: 34px;
  fill: $backgroundColor;
  transition: width $mainTransitionDuration $mainTransitionTimingFunction,
    height $mainTransitionDuration $mainTransitionTimingFunction;
  .icon--hoverfocus:hover & {
    width: 32px;
    height: 32px;
    fill: $extrabackgroundColor;
  }
  .icon--hoverfocus:focus & {
    width: 35px;
    height: 35px;
    fill: $extrabackgroundColor;
  }
}
