// TODO: move to common variables
$mainTransitionDuration: 250ms;
$mainTransitionTimingFunction: cubic-bezier(0.4, 0, 0.2, 1);

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  padding-left: 20px;
  padding-right: 20px;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity $mainTransitionDuration $mainTransitionTimingFunction,
    visibility $mainTransitionDuration $mainTransitionTimingFunction;

  overflow-y: scroll;
  z-index: 20;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 30px;

  width: 280px;

  background-color: $textColor;
  border: 2px solid $accentColor;
  border-radius: 10px;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0);
  transition: opacity $mainTransitionDuration $mainTransitionTimingFunction,
    visibility $mainTransitionDuration $mainTransitionTimingFunction,
    transform $mainTransitionDuration $mainTransitionTimingFunction;

  z-index: 30; /* Should be greater than  for .overlay */

  @include mq(tablet) {
    width: 568px;
  }
}

.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal.active {
  transform: translate(-50%, -50%) scale(100%);
}

.modal__btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 16px;
  height: 16px;

  display: flex;
  justify-content: center;
  align-items: center;
  // Fix for iphone
  padding: 0;
  cursor: pointer;
}

.modal__btn-close-icon {
  fill: #131313;
  transition: fill $mainTransitionDuration $mainTransitionTimingFunction;
  .modal__btn-close:hover & {
    fill: #f8d24e;
  }
  .modal__btn-close:focus & {
    fill: #f8d24e;
  }
}

.modal__title {
  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;

  margin-bottom: 20px;

  color: $primaryColor;
}
