.title-section {
  font-family: 'Seymour One';
  font-weight: 400;
  font-size: 30px;
  line-height: 1.26;
  text-align: center;
  letter-spacing: 0.04em;
  color: #131313;

  @media screen and (min-width: 768px) {
    font-size: 34px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.25;
  }
}

.title {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.04em;
  color: #131313;

  @media screen and (min-width: 768px) {
    font-size: 22px;
    line-height: 1.23;
  }

  @media screen and (min-width: 1200px) {
    font-size: 30px;
  }
}

.title-modal {
  font-family: 'Seymour One';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  color: #131313;

  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 1.17;
  }
}
