.contacts {
  padding-bottom: 40px;
  @include mq(desktop) {
    padding-bottom: 120px;
  }
  &__btns {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
    @include mq(tablet) {
      flex-direction: row;
    }
  }
  // button Our Locations
  &__button {
    @media (max-width: 419px) {
      margin-left: auto;
      margin-right: auto;
    }
    min-width: 196px;
    height: 42px;
    background-color: $accentColor;
    border-radius: 10px;
    gap: 6px;
    &:hover {
      background-color: $btn-hoverColor;
    }
    &:focus {
      background-color: $btn-hoverColor;
      color: $textColor;
    }
    &:disabled {
      background-color: $btn-disabledColor;
    }
  }
  // button Franchise
  &__button--transparent {
    background-color: transparent;
    border: 2px solid $accentColor;
    gap: 6px;
    &:hover {
      background-color: transparent;
      border-color: $btn-hoverColor;
    }
    &:focus {
      background-color: transparent;
      border-color: $btn-hoverColor;
      color: $textColor;
    }
    &:disabled {
      background-color: transparent;
      border-color: $btn-disabledColor;
    }
  }
}

.contacts-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  align-items: center;
  padding-bottom: 32px;
  @include mq(tablet) {
    padding-bottom: 60px;
  }
  @include mq(desktop) {
    padding-bottom: 64px;
  }
}

.contacts-item {
  flex-basis: calc(100%);
  padding: 40px 32px;
  background: #fcfcfc;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  @include mq(tablet) {
    padding: 40px 24px;
    flex-basis: calc((100% - 32px) / 3);
  }
  @include mq(desktop) {
    padding: 40px;
  }
  &__bg {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 16px;
    padding: 0px 15px;
    background: $accentColor;
    border-radius: 4px;
    margin-bottom: 20px;
    @include mq(tablet) {
      height: 28px;
      border-radius: 6px;
      margin-bottom: 32px;
    }
  }
  &__place {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: (22 / 12);
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $primaryColor;
    @include mq(tablet) {
      font-size: 16px;
      line-height: (30 / 16);
    }
  }
  &__box--paddbot {
    padding-bottom: 24px;
    @include mq(tablet) {
      padding-bottom: 32px;
    }
  }
  &__label {
    font-style: normal;
    font-weight: 00;
    font-size: 12px;
    line-height: calc(22 / 12);
    letter-spacing: 0.04em;
    color: $primaryColor;
    margin-bottom: 8px;
    @include mq(tablet) {
      font-size: 14px;
      line-height: calc(26 / 14);
      margin-bottom: 12px;
    }
    @include mq(tablet) {
      font-size: 16px;
      line-height: calc(30 / 16);
      margin-bottom: 8px;
    }
  }
  &__link {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: calc(22 / 12);
    letter-spacing: 0.04em;
    color: $extraColor;
    @include mq(tablet) {
      font-size: 14px;
      line-height: calc(26 / 14);
    }
    @include mq(desktop) {
      font-size: 16px;
      line-height: calc(29 / 16);
    }
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
  &__box--border {
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 24px 0px;
    @include mq(tablet) {
      gap: 12px;
      padding: 32px 0px;
    }
  }
  &__title,
  &__clock {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: calc(22 / 12);
    color: $primaryColor;
    @include mq(tablet) {
      font-size: 14px;
      line-height: calc(26 / 14);
    }
    @include mq(desktop) {
      font-size: 16px;
      line-height: calc(30 / 16);
    }
  }
  &__clock {
    color: #907e82;
  }
  &__box--paddtop {
    padding-top: 24px;
    padding-bottom: 0px;
    @include mq(tablet) {
      padding-top: 32px;
    }
  }
  &__tel,
  &__mail {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(18 / 12);
    color: $primaryColor;
    @include mq(tablet) {
      font-size: 14px;
      line-height: calc(26 / 14);
    }
    @include mq(desktop) {
      font-size: 16px;
      line-height: calc(29 / 16);
    }
  }
}
