.gallery {
  position: relative;
}
.gallery__container {
  position: absolute;
  width: 100%;
  top: -40px;
  @media screen and (max-width: 380px) {
    top: -24px;
  }
  @include mq(tablet) {
    top: -164px;
  }
  @include mq(desktop) {
    top: -106px;
  }
}
.swiper {
  width: 280px;
  height: 132px;
  @include mq(tablet) {
    width: 704px;
    height: 328px;
  }
  @include mq(desktop) {
    width: 1013px;
    height: 424px;
  }
  @media screen and (max-width: 767px) {
    width: 400px;
    height: auto;
  }
  @media screen and(max-width: 438px) {
    width: 350px;
    height: auto;
  }
  @media screen and(max-width: 379px) {
    max-width: 280px;
    height: auto;
  }
}
.slider__img,
.wrapper {
  border-radius: 7px;
  @include mq(tablet) {
    border-radius: 18px;
    @include mq(desktop) {
      border-radius: 24px;
    }
  }
}
