.gallery {
  padding-bottom: 75px;
  @include mq(tablet) {
    padding-bottom: 55px;
  }
  @include mq(desktop) {
    padding-bottom: 120px;
  }
}
.swiper {
  width: 280px;
  height: 132px;
  @include mq(tablet) {
    width: 704px;
    height: 328px;
  }
  @include mq(desktop) {
    width: 1013px;
    height: 424px;
  }
}
.slider__img {
  border-radius: 7px;
  @include mq(tablet) {
    border-radius: 18px;
    @include mq(desktop) {
      border-radius: 24px;
    }
  }
  &__picture {
    overflow: hidden;
  }
}
