.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.header__container {
  background-color: $backgroundColor;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;

  @include mq(tablet) {
    padding-top: 20px;
  }

  @include mq(desktop) {
    justify-content: start;
    padding-top: 8px;
  }
}

.logo {
  flex-shrink: 0;
}

.header__list-desktop {
  @include mq(notDesktop) {
    display: none;
  }

  display: flex;
  align-items: center;
  gap: 27px;
  margin-left: 270px;
}

.header__item-desktop {
  @include font(700, 16px, 1.25, 0.04em);
  cursor: pointer;
  align-items: center;
  color: $textColor;
  transform: color $mainTransitionDuration $mainTransitionTimingFunction;
}

.header__item-desktop:hover,
.header__item-desktop:focus {
  color: $primaryColor;
}

.header__list {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-left: auto;
  }
}

.header__list li:first-child {
  height: 32px;
}

.menu-toggle {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: scale $mainTransitionDuration $mainTransitionTimingFunction;

  @include mq(desktop) {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  scale: 1.5;
}

.header__button {
  display: none;

  @include mq(tablet) {
    display: block;
  }
}

/*--------hero*/

.hero .container {
  background-color: $backgroundColor;
  color: $textColor;
  position: relative;
  padding-bottom: 239px;

  @include mq(tablet) {
    padding-bottom: 13px;
  }

  @include mq(desktop) {
    justify-content: start;
    padding-bottom: 65px;
  }
}

.hero__wrap--top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;

  @include mq(desktop) {
    margin-bottom: 42px;
  }
}

.hero__title {
  @include font(400, 26px, 1.27, 0.04em);
  font-family: 'Seymour One';

  max-width: 247px;
  margin-top: 110px;

  @include mq(tablet) {
    @include font(400, 18px, 1.28, 0.04em);
    margin-top: 104px;
    max-width: 181px;
  }

  @include mq(desktop) {
    @include font(400, 38px, 1.26, 0.04em);
    margin-top: 118px;
    max-width: 367px;
  }
}

.accent {
  @include font(400, 34px, 0.97, 0.04em);
  font-family: 'Seymour One';

  @include mq(tablet) {
    @include font(400, 24px, 0.54, 0.04em);
  }

  @include mq(desktop) {
    @include font(400, 38px, 1.26, 0.04em);
  }
}

.hero__list--left {
  margin-top: 32px;
  display: flex;
  gap: 8px;
}

.hero__wrap--right {
  @include mq(mobile-only) {
    display: none;
  }

  margin-top: 94px;
  margin-right: 0;

  @include mq(desktop) {
    margin-top: 126px;
  }
}

.hero__item--right span {
  @include font(900, 28px, 1.21, 0.04em);
  color: $primaryColor;

  @include mq(desktop) {
    @include font(900, 46px, 1.22, 0.04em);
  }
}

.hero__text--after-span {
  @include font(400, 8px, 1.25, 0.04em);

  margin-top: 4px;

  @include mq(desktop) {
    @include font(400, 14px, 1.21, 0.04em);
  }
}

.hero__item--right:first-child {
  margin-bottom: 20px;

  @include mq(desktop) {
    margin-bottom: 16px;
  }
}

.hero__wrap--bottom {
  @include mq(mobile-only) {
    display: none;
  }

  display: flex;
  align-items: flex-end;
  gap: 33px;

  @include mq(desktop) {
    gap: 14px;
  }
}

.hero__text--botton {
  @include font(400, 12px, 1.4, 0.04em);
  max-width: 200px;
  margin-bottom: 20px;

  @include mq(desktop) {
    @include font(400, 14px, 1.4, 0.04em);
    max-width: 200px;
  }
}

.hero-img__plate {
  z-index: 2;
}

.icon-bottom {
  z-index: 3;
  fill: $textColor;
  transition: scale $mainTransitionDuration $mainTransitionTimingFunction;

  @include mq(tablet) {
    bottom: 15px;
  }

  @include mq(desktop) {
    bottom: 60px;
  }
}

.icon-bottom_focus {
  left: 0;
  z-index: 3;
}

.icon-bottom:hover .icon-bottom_focus {
  transform: scaleX(1.25);
}

.icon-bottom:focus .icon-bottom_focus {
  transform: scale(1.25, 1.5);
}

.canvas-bubbles {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.canvas-icecream {
  position: absolute;
  bottom: 0;
  left: 29%;
  z-index: 3;

  @include mq(tablet) {
    left: 54%;
  }
}

.canvas-shine {
  position: absolute;
    bottom: 0px;
      left: 25%;
  width: 50%;
  z-index: 2;

  @include mq(tablet) {
    left: 50%;
    width: 45%;
  }

  @include mq(desktop) {
       left: 53%;
  }
}

.canvas-bubbles__mobile,
.canvas-icecream__mobile,
.canvas-shine__mobile {
  @include mq(tablet) {
    display: none;
  }
}

.canvas-bubbles__tablet,
.canvas-icecream__tablet,
.canvas-shine__tablet {
  display: none;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: block;
  }
}

.canvas-bubbles__desktop,
.canvas-icecream__desktop,
.canvas-shine__desktop {
  display: none;

  @include mq(desktop) {
    display: block;
  }
}

/*-----------mobile_menu---*/

.menu-container .menu-toggle {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #84a178;
  padding: 12px 26px;

  z-index: 999;

  transform: translateX(150%);
  transition: transform 250ms ease-in-out;

  @include mq(tablet) {
    padding: 20px 32px;
  }

  @include mq(desktop) {
    display: none;
  }

    @include modalPreventOverflow(
      $actualModalHeightMobile: 723px, 
    $actualModalHeightTablet: 665px);
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container__top {
  display: flex;
  justify-content: space-between;

  @include mq(tablet) {
    margin-bottom: 76px;
  }
}

.menu-container__nav {
  text-align: center;
}

.menu-container__item:not(:last-child) {
  margin-bottom: 32px;

  @include mq(tablet) {
    margin-bottom: 40px;
  }
}

.menu-container__item {
  @include font(700, 32px, 1.22, 0.04em);
  text-align: center;
  color: $textColor;
  cursor: pointer;

  @include mq(tablet) {
    @include font(700, 48px, 1.23, 0.04em);
  }

  transform: color $mainTransitionDuration $mainTransitionTimingFunction;
}

.menu-container__item:hover {
  color: $primaryColor;
}

.menu-container .header__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 63px;
  bottom: 0;

  @include mq(tablet) {
    display: none;
  }
}

.icon-cross {
  width: 20px;
  height: 20px;
  fill: $textColor;
}

.menu-container__wrap {
  @include mq(mobile-only) {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}


/*---back to home*/


