.products {
  padding: 60px 0px;
  text-align: center;
  &__label {
    @include font(800, 18px, 1.22, null);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 12px;
    @include mq(tablet) {
      @include font(800, 22px, 1.23, null);
    }
    @include mq(desktop) {
      @include font(800, 30px, 1.22, null);
    }
  }
  &__title-section {
    font-family: $secondaryFontFamily;
  }

  &__list {
    margin-top: 148px;
    @include mq(tablet) {
      margin-top: 200px;
      display: flex;
      gap: 16px;
    }
    @include mq(desktop) {
      margin-top: 303px;
      gap: 32px;
    }
  }

  &__card:first-child {
    background-color: #aec6a5;
  }
  &__card:not(:first-child) {
    @include mq(mobile-only) {
      margin-top: 164px;
    }
  }

  &__card {
    padding: 123px 40px 12px;
    position: relative;
    background-color: #efd478;
    width: 100%;
    border-radius: 24px;
    @include mq(tablet) {
      padding: 108px 26px 12px;
      width: calc((100% - 32px) / 3);
    }
    @include mq(desktop) {
      padding: 166px 64px 0px;
      width: calc((100% - 64px) / 3);
      height: 536px;
    }
  }
  &__card:last-child {
    background-color: $extraColor;
  }

  &__ellipse {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background: linear-gradient(
        0deg,
        rgba(156, 190, 143, 0.7),
        rgba(156, 190, 143, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5px 20px rgba(10, 136, 23, 0.25);
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
    @include mq(tablet) {
      top: -11px;
      box-shadow: 0px 5px 20px rgba(10, 136, 23, 0.25);
    }
    @include mq(desktop) {
      width: 303px;
      height: 303px;
      top: -17px;
      box-shadow: 0px 8px 30px rgba(10, 136, 23, 0.25);
    }
  }

  &__ellipse--orange {
    background: linear-gradient(
        0deg,
        rgba(248, 210, 78, 0.7),
        rgba(248, 210, 78, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5px 20px rgba(153, 114, 23, 0.25);
    @include mq(mobile) {
      box-shadow: 0px 7px 25px rgba(153, 114, 23, 0.25);
    }
    @include mq(tablet) {
      box-shadow: 0px 5px 20px rgba(153, 114, 23, 0.25);
    }
    @include mq(desktop) {
      box-shadow: 0px 8px 30px rgba(153, 114, 23, 0.25);
    }
  }

  &__ellipse--red {
    background: linear-gradient(
        0deg,
        rgba(213, 117, 63, 0.7),
        rgba(213, 117, 63, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5px 20px rgba(32, 31, 31, 0.25);
    @include mq(mobile) {
      box-shadow: 0px 7px 25px rgba(32, 31, 31, 0.25);
    }
    @include mq(tablet) {
      box-shadow: 0px 5px 20px rgba(32, 31, 31, 0.25);
    }
    @include mq(desktop) {
      box-shadow: 0px 8px 30px rgba(32, 31, 31, 0.25);
    }
  }

  &__ellipse::after,
  &__ellipse--orange::after,
  &__ellipse--red::after {
    content: '';
    background-position: top -11px center;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    height: 100%;
    border-radius: 100%;
    @include mq(tablet) {
      background-position: top -11px center;
    }
    @include mq(desktop) {
      background-position: top -17px center;
    }
  }

  &__ellipse::after {
    background-image: url(../images/products1-mob.png);
    @include mq(retina) {
      background-image: url(../images/products1-mob-2x.png);
    }
    @include mq(tablet) {
      background-image: url(../images/products1-tab.png);
      @include mq(retina) {
        background-image: url(../images/products1-tab-2x.png);
      }
    }
    @include mq(desktop) {
      background-image: url(../images/products1.png);
      @include mq(retina) {
        background-image: url(../images/products1-2x.png);
      }
    }
  }
  &__ellipse--orange::after {
    background-image: url(../images/products2-mob.png);

    @include mq(retina) {
      background-image: url(../images/products2-mob-2x.png);
    }
    @include mq(retina) {
      background-image: url(../images/products2-mob-2x.png);
    }
    @include mq(tablet) {
      background-image: url(../images/products2-tab.png);
      @include mq(retina) {
        background-image: url(../images/products2-tab-2x.png);
      }
    }
    @include mq(desktop) {
      background-image: url(../images/products2.png);
      @include mq(retina) {
        background-image: url(../images/products2-2x.png);
      }
    }
  }
  &__ellipse--red::after {
    background-image: url(../images/products3-mob.png);
    @include mq(retina) {
      background-image: url(../images/products3-mob-2x.png);
    }
    @include mq(retina) {
      background-image: url(../images/products3-mob-2x.png);
    }
    @include mq(tablet) {
      background-image: url(../images/products3-tab.png);
      @include mq(retina) {
        background-image: url(../images/products3-tab-2x.png);
      }
    }
    @include mq(desktop) {
      background-image: url(../images/products3.png);
      @include mq(retina) {
        background-image: url(../images/products3-2x.png);
      }
    }
  }
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__title--card {
    font-weight: 700;
    line-height: 1.23;
    margin-bottom: 40px;
    @include mq(desktop) {
      margin-bottom: 65px;
    }
  }
  &__paragraph {
    min-height: 175px;
    margin-bottom: 29px;
    text-align: center;
    @include font(400, 14, 1.76, 0.04em);
    @include mq(tablet) {
      @include font(400, 14, null, null);
      min-height: 195px;
    }
    @include mq(desktop) {
      @include font(400, 16, null, null);
      min-height: 175px;
    }
  }
  &__button--arrow &__button--icon {
    transition: $timingAnima;
    transform: scale(1);
  }
  &__button--arrow:hover &__button--icon {
    transition: $timingAnima;
    transform: scaleX(1.25);
  }
  &__button--arrow:focus &__button--icon {
    transition: $timingAnima;
    transform: scale(1.25, 1.5);
  }
}
